services:
  ark-server:
    env_file: .env
    restart: unless-stopped
    ports:
      - "7777:7777/udp"
      - "7778:7778/udp"
      - "27015:27015/udp"
      - "27020:27020/tcp"
    volumes:
      - ./data:/data
    build:
      context: .
    pull_policy: never
